<div class="nav flex with_columns">
  <div class="title-btn">
    <h2>NUIG</h2>
  </div>
  <ul class="list flex with_columns">
    <li class="nav-item">
      {{nav-item name='Home' icon='home' route='index'}}
    </li>
    <li class="nav-item">
      {{nav-item name='Courses' icon='courses' route='courses'}}
    </li>
    <li class="nav-item">
      {{nav-item name='Chat' icon='courses' route='chat'}}
    </li>
    <li class="nav-item">
      {{nav-item name='Projects' icon='courses' route='projects'}}
    </li>
  </ul>
  <div class="account-link flex-bottom">
    {{#if session.isAuthenticated}}
      <button onclick={{action 'invalidateSession'}}>Logout</button>
      {{#if currentUser.user}}
        <p>Signed in as {{currentUser.user.name}}</p>
      {{/if}}
    {{else}}
      <button onclick={{action 'login'}}>Login</button>
    {{/if}}
  </div>
</div>
