<div class="flex">
  {{back-btn route='courses.show.assignments.show' params=assignment}}
  <h3 class="flex fill">{{assignment.name}}</h3>
</div>

<form class="flex with_columns" {{action "submitAssignment" on="submit"}}>
  <div class="flex flex-center">
    <label for="members">Members:</label>
    <div class="flex fill with_columns">
      {{input value=memberIds placeholder="Comma seperate group members by Id number" class='input-full'}}
      {{submissionMemberList}}
    </div>
  </div>
  <button type='submit' class='btn btn-primary'>Submit</button>
</form>
