<div class="card-container">

  {{#if showingNewTopicForm}}
    {{input
    type="text"
    placeholder="Add a new topic"
    value=newTopicTitle}}
    {{input
    type="text"
    placeholder="Write a description for the topic"
    value=newTopicDescription}}
    <button class='btn btn-primary' {{action "createTopic" }}>Create Topic</button>
  {{else}}
    <button class='btn btn-primary' {{action "showNewTopicForm" }}>New Topic</button>
  {{/if}}

  <div class="splitter flex fill flex-center">
    <span class="splitter-text">Topics</span>
    <span class="flex fill splitter-line"></span>
  </div>
</div>

<ul class="list list-normal flex with_columns">
  {{#each model.forum.topics as |topic|}}
    {{#link-to 'courses.show.discussions.topic' topic class='list-normal-item block'}}
      <h3>{{topic.name}}</h3>
      <p>{{topic.description}}</p>
    {{/link-to}}
  {{/each}}
</ul>
