{{root-nav}}

<div class="flex fill with_columns">
  <div class="flex fill">
    <div class="list-container flex with_columns">
      <div class="card">
        <div class="card-container-top">
          <div class="flex">
            <div class="flex fill">
              <h3>Create Assignment</h3>
            </div>
            <div class="flex end">
              <button class='btn btn-secondary' {{action "saveDraft"}}>Save draft</button>
              <button class='btn btn-primary' {{action "saveAssignment"}}>Publish Assignment</button>
            </div>
          </div>
          {{list-splitter name="General"}}
        </div>

        <div class="pad__lr__20">
          <div class="form-item">
            <label class="input-label">Course:</label>
            <select onchange={{action "selectCourse" value="target.value"}}>
              <option>Select a course</option>
              {{#each courses as |courseChoice|}}
                <option value={{courseChoice.id}}>{{courseChoice.name}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-item">
            <label class="input-label">Assignment Name:</label>
            {{input value=model.name placeholder="Assignment Name"}}
          </div>
          <div class="form-item">
            <div class="flex with_columns assignment-description-editor-container">
              <div class="flex fill">
                {{#if usingWYSIWYG}}
                  <div class="flex with_columns">
                      <label class="input-label">Description:</label>
                      {{summer-note height=editorHeight content=model.description airMode=false focus=false header="Example" disabled=editingDisabled disabledOptions=disabledOptions}}
                  </div>
                {{else}}
                  <div class="flex with_columns half">
                    <label class="input-label">Description:</label>
                    {{textarea value=model.description class="flex fill"}}
                  </div>
                  <div class="flex with_columns half pad__lr__20">
                    <label class="input-label">Preview:</label>
                    <div class="flex with_columns scrolls fill input-disabled">
                      {{markdown-to-html model.description}}
                    </div>
                  </div>
                {{/if}}
                </div>
              <div>
                <button class="btn btn-small-option {{if usingWYSIWYG 'selected'}}" {{action "toggleEditorType"}}>Editor</button>
                <button class="btn btn-small-option {{if usingMarkdown 'selected'}}" {{action "toggleEditorType"}}>Markdown</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-container-bottom">
          {{list-splitter name="Submission"}}
          {{list-splitter name="Details"}}

          <label class="input-label">Start Date:</label>
          {{date-picker date=model.startDate}}

          <label class="input-label">Due Date:</label>
          {{date-picker date=model.dueDate}}

          {{#if showingAssignmentCalendar}}
            <div class="flex with_rows">
              <div class="flex with_columns two-thirds">
                <label class="input-label">Calendar:</label>


                {{#power-calendar-range
                  center=center
                  selected=range
                  onCenterChange=(action (mut center) value="date")
                  onSelect=(action (mut range) value="moment") as |cal|}}
                  {{cal.nav}}
                  {{#cal.days as |day|}}
                    {{#if (array-contains assignmentDates day.date)}}
                      <strong class="pink-text" style="color: red;">{{day.number}}</strong>
                    {{else}}
                      {{day.number}}
                    {{/if}}
                  {{/cal.days}}
                {{/power-calendar-range}}
              </div>
              <div class="flex with_columns third">
                This is a test
              </div>
            </div>
          {{else}}
            <button class="btn btn-small-option selected" {{action "toggleAssignmentCalendar"}}>Show other assignments</button>
          {{/if}}

        </div>
      </div>
    </div>
  </div>
</div>
