{{root-nav}}

<div class="flex fill with_columns">
  <div class="flex fill">
    <div class="list-container flex with_columns">
      <div class="card">
        <div class="card-container">
          <div class="flex">
            <div class="flex fill">
              <h3>Create Assignment</h3>
            </div>
            <div class="flex end">
              <button {{action "saveDraft"}}>Save draft</button>
              <button {{action "saveAssignment"}}>Create</button>
            </div>
          </div>
          {{list-splitter name="General"}}
        </div>

        <div class="pad__lr__20">
          <div class="form-item">
            <label class="input-label">Course:</label>
            <select onchange={{action "selectCourse" value="target.value"}}>
              <option>Select a course</option>
              {{#each courses as |courseChoice|}}
                <option value={{courseChoice.id}}>{{courseChoice.name}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-item">
            <label class="input-label">Assignment Name:</label>
            {{input value=model.name placeholder="Assignment Name"}}
          </div>
          <div class="form-item">
            <label class="input-label">Description:</label>
            {{textarea value=model.description placeholder="Assignment description" class="form-textarea"}}
            <div>
              <span class="small-option">Editor</span>
              <span class="small-option selected">Plain Text</span>
              <span class="small-option">Markdown</span>
            </div>
          </div>
        </div>


        <div class="card-container">
          {{list-splitter name="Submission"}}
          {{list-splitter name="Details"}}
        </div>
      </div>
    </div>
  </div>
</div>
