<div class="nav flex with_columns">
  {{navs/nav-header subheader='Projects'}}
  <ul class="list flex with_columns">
    {{#each projects as |project|}}
      <li class="nav-item">
        {{#link-to 'projects.show' project.id}}
          <img src='assets/images/courses.svg' class="nav-icon">
          <span class="nav-label">{{project.name}}</span>
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
  {{#if showingCreateForm}}
    <form {{action 'createProject' on="submit"}} class="flex">
      {{input type="text" placeholder="Name" value=newProjectName class="one-line-form--input"}}
      <button type="submit" class="btn" {{action "createProject"}}>L</button>
    </form>
  {{else}}
    <button class='btn btn-secondary' {{action "toggleCreateForm"}}>Create Project</button>
  {{/if}}
  {{navs/account-link}}
</div>
