<div class="content flex fill with_columns">
  <div class="scrolls">
    <div class="list-container flex with_columns {{if usingWYSIWYG 'screen-height'}}">
      {{search-bar}}
      <div class="card-titles-container">
        <ul class="card-titles-list">
          <li>{{link-to 'Home' 'courses.show.index' class="card-titles-list-link"}}</li>
          <li>{{link-to 'Assignments' 'courses.show.assignments' class="card-titles-list-link"}}</li>
          <li>{{link-to 'Discussions' 'courses.show.discussions' class="card-titles-list-link"}}</li>
        </ul>
      </div>
      <div class="card flex with_columns fill">
        {{outlet}}
      </div>
    </div>
  </div>
</div>
